
/* play-music-top */
.content-music {
    padding: 40px 16px 0;
}

.music-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-section-now {
    font-size: 20px;
    font-weight: 200;
    font-style: oblique;
    height: 25px;
}

.music-section-song {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin: 16px auto 4px;
}

.music-section-author {
    font-style: oblique;
    margin-bottom: 4px;
}

.music-section-frame-img {
    width: 250px;
    height: 125px;
    position: relative;
}

.music-section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.music-section-img-drop {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 15px;
    top: -15px;
    z-index: -1;
    filter: blur(8px);
    border-radius: 10px;
}


.music-track {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.music-loader {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 9px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #c2c2c2;
}

.music-track-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
}

.music-track-progress:hover ~ .music-loader {
    background-color: #fff;
}

.music-track-progress {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 9px;
    appearance: none;
    background-color: rgba(179, 179, 179, 0.44);
    outline: none;
    border-radius: 10px;
}

.music-control {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

    .music-control .item {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin: 16px;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        cursor: pointer;
        transition: font-size 0.05s linear,transform 0.1s linear;
    }

.music-control-menu {
    display: flex;
}

.music-control .item:hover {
    transform: scale(1.1);
}

.music-control .item i {
    transition: transform 0.2s ease-in-out;
}

.music-control .item:hover i {
    transform: scale(1.2);
}
/* list music */





/* responsive */

/* tablet */
@media (max-width: 1024px) and (min-width: 744px) {

    .music-section-now, .music-section-author {
        font-size: 18px;
    }

    .music-section-song {
        font-size: 24px;
    }

    .music-section-frame-img {
        width: 200px;
        height: 100px;
        position: relative;
    }

    .music-remote {
        width: 300px;
    }

    .music-control .item {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin: 6px;
    }
}

/* mobile */
@media (max-width: 743px) {

    .content-music {
        justify-content: center;
    }

    .music-section {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .music-section-infor {
        margin-top: 12px;
    }

    .music-section-now, .music-section-author {
        font-size: 14px;
    }

    .music-section-song {
        font-size: 18px;
        margin: 10px auto 6px;
        max-width: 130px;
        line-height: 16px;
    }

    .music-section-frame-img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .music-control .item {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        margin: 6px;
    }

    .music-remote {
        width: 100px;
    }
 
}
